doctype html
html(lang='hu')
    include includes/head.pug
    body.bg-light.text-black
        include mixins/modal.pug
        +modal('logoutModal', 'Kijelentkezés', 'Biztos ki szeretnél jelentkezni?', 
            {name: "toggleLogout", text: "Nem"},
            {href: "/api/logout", text: "Igen"}
        )
        nav.sidenav
            .logo 
                a(href='/') Csoportos Tételkezelő Rendszer
            .version v#{VERSION}
            ul.nav-links
                li.nav-item
                    a.nav-link(href='/') Főoldal
                li.nav-item
                    a.nav-link(href='/groups') Csoportok
                li.nav-item
                    a.nav-link(href='/materials') Tételek
                li.nav-item
                    a.nav-link(href='/exams') Vizsgák
                li.nav-item
                    a.nav-link(href='/my-exams') Vizsgáim
                if user.isAdmin
                    li.nav-item
                        a.nav-link(href='/admin') Adminisztrátori felület
            .profile
                img.picture.rounded-circle.mx-auto(src='../images/pic0.png' alt='profilkép' style=`border-width: 5px; border-color: ${user.color}`)
                ul.user-info
                    li #{user.username} 
                        span (#{user.class.name})
                    li Pontok: 
                        span #{user.points}
                    li
                        a(href='/account') Adataim | 
                        a.toggleLogout Kijelentkezés
        button#btnNavbarToggle.btn.btn-link >
        .content
            .container
                block pageHeader
                if message.length
                    .alert.alert-dark #{message}
                block content
                footer CSTK | v#{VERSION} | User ID: #{user.id} | Session ID: #{sessionID}