extends ../mainLayout.pug

block content
    .page-title Fiókom
    .row
        .col-xl-4.mb-3
            .card
                .card-header Profilkép
                .card-body
                    if pictureMessage.length
                        .alert.alert-primary(role='alert') #{pictureMessage}
                    img.rounded(src='images/pic' + user.pictureID + '.png' alt='profilkép')
                    form(action='/user/update/picture' method='POST' enctype='multipart/form-data')
                        label.form-label(for='formFile') JPG vagy PNG, kisebb mint 5 MB
                        input.form-control(type="file" id='formFile' name='picture')
                        button.btn.btn-primary(type='submit') Kép feltöltése
        .col-xl-8.mb-3
            .card
                .card-header Adatok
                .card-body
                    if detailsMessage.length
                        .alert.alert-primary(role='alert') #{detailsMessage}
                    p
                        | Teljes név: 
                        | #{user.fullName}
                    p
                        | E-mail cím: 
                        | #{user.emailAddress}
                    p Regisztráltál: #{user.registrationDate}
                    label(for="birthday") Születésnap:
                    input(type="date",id="birthday",name="birthday",value="2000-00-00")
    .row
        .col-12
            .card
                .card-header Adatok
                .card-body
                    p Iskolád: nincs
                    p Osztályfőnököd: Kubik József