extends ../mainLayout.pug

block pageHeader
    .page-title Adataim

block content
    .row
        .col-xl-4.mb-3
            .card
                .card-header Profil
                .card-body
                    form(action='/api/update/profile' method='POST')
                        .mb-3
                            label(for="exampleColorInput" class="form-label") Válassz emojit
                            input#emoji.text-center.fs-3(type="text" class="form-control" name="emoji" value=user.emoji disabled='' maxLength='1')
                        button.btn.btn-secondary.w-100#emojiSelector(type='button') Választás
                        .my-3
                            label(for="exampleColorInput" class="form-label") Válassz színt
                            input(type="color" class="form-control form-control-color" name="color" value=user.color title="Válassz színt")
                        button.btn.btn-primary.w-100(type='submit') Beállítás
        .col-xl-8.mb-3
            .card
                .card-header Személyes adatok
                .card-body
                    - var birthDate = moment(user.birthDate).format('LL');
                    - var registrationDate = moment(user.registrationDate).format('LLLL');
                    p
                        | Teljes név: 
                        b #{user.fullName || 'Nincs megadva'}
                    p
                        | E-mail cím: 
                        b #{user.emailAddress}
                    p
                        | Születési dátum: 
                        b #{birthDate}
                    p
                        | Regisztráltál: 
                        b #{registrationDate}
    .row
        .col-12
            .card
                .card-header Iskola adatai
                .card-body
                    p Iskolád: nincs
                    p Osztályfőnököd: 
                        b #{user.class.headTeacherName}
    script(src='scripts/emojiPicker.js')