extends ../mainLayout.pug

block content
    .page-title Adataim
    .row
        .col-xl-4.mb-3
            .card
                .card-header Profilkép
                .card-body
                    div
                        label(for="exampleColorInput", class="form-label") Színbeállítás
                        input(type="color",class="form-control form-control-color",id="exampleColorInput",value="#ffffff",title="Choose your color")

                    img.rounded(src='images/pic' + user.pictureID + '.png' alt='profilkép')
                    form(action='/user/update/picture' method='POST' enctype='multipart/form-data')
                        label.form-label(for='formFile') JPG vagy PNG, kisebb mint 5 MB
                        input.form-control(type="file" id='formFile' name='picture')
                        button.btn.btn-primary(type='submit') Kép feltöltése
        .col-xl-8.mb-3
            .card
                .card-header Személyes adatok
                .card-body
                    p
                        | Teljes név: 
                        b #{user.fullName || 'Nincs megadva'}
                    p
                        | E-mail cím: 
                        b #{user.emailAddress}
                    p
                        | Születési dátum: 
                        b #{user.birthDate || 'Nincs megadva'}
                    p
                        | Regisztráltál
                        b #{user.registrationDate}
    .row
        .col-12
            .card
                .card-header Iskola adatai
                .card-body
                    p Iskolád: nincs
                    p Osztályfőnököd: 
                        b #{userClass.headTeacherName}