extends ../mainLayout.pug

block pageHeader
    .page-title Moderátori felület

block content
    .container
        h4 Tanulók
        table.table.table-striped.table-hover
            thead
                tr
                    th(scope='col') 
                    th(scope='col') ID
                    th(scope='col') Név
                    th(scope='col') Felhasználónév
                    th(scope='col') E-mail címe
            tbody
                each val in studentsTable
                    tr
                        td.col(style=`background-color: ${val.color}`)
                        th(scope='row')= val.id
                        td= val.fullName || 'Nincs megadva'
                        td= val.username
                        td= val.emailAddress
        h4 Csoportok
        table.table.table-striped.table-hover
            thead
                tr
                    th(scope='col') ID
                    th(scope='col') Név
                    th(scope='col') Állapot
            tbody
                each val in groupsTable
                    tr
                        th(scope='row')= val.id
                        td= val.name
                        td= val.isOpen ? 'Nyitott' : 'Zárt'